@mixin on-dark-text($text-color:#fff) {
	h1, h2, h3, h4, h5, h6,
	.h1, .h2, .h3, .h4, .h5, .h6,
	p, li, blockquote {color:$text-color;}
	a {color:$text-color; @include transition(.3s);}
	a:hover {@include opacity(.5); text-decoration:underline;}
}